---
import type { CollectionEntry } from 'astro:content';
import BlogItem from './BlogItem.astro';

interface Props {
  blogs: CollectionEntry<'blogs'>[];
}

const { blogs } = Astro.props;
---

<section class="max-w-3xl mx-auto">
  <ul class="space-y-6 mb-16">
    {blogs.map((blog) => (
      <BlogItem blog={blog} />
    ))}
  </ul>
</section>
