---
import type { CollectionEntry } from 'astro:content';
import BlogItem from './BlogItem.astro';

interface Props {
  blogs: CollectionEntry<'blogs'>[];
}

const { blogs } = Astro.props;
---

<section>
  <ul class="divide-y divide-default border-y border-default">
    {blogs.map((blog) => (
      <BlogItem blog={blog} />
    ))}
  </ul>
</section>
