---
import type { CollectionEntry } from 'astro:content';
import BlogItem from './BlogItem.astro';

interface Props {
  blogs: CollectionEntry<'blogs'>[];
}

const { blogs } = Astro.props;
---

<section class="space-y-8">
  <ul class="space-y-6">
    {blogs.map((blog) => (
      <BlogItem blog={blog} />
    ))}
  </ul>
</section>
