---
import { talks } from '../config/cv.json';
import TalkItem from './TalkItem.astro';
---

<section class="py-12 bg-background">
  <div class="container mx-auto px-4 max-w-6xl">
    <h1 class="text-center text-3xl mb-10">Talks & Presentations</h1>
    <p class="mt-4 text-center text-offset mb-10">
      Explore the talks and presentations I've delivered, covering topics like
      serverless architectures, CI/CD optimization, distributed systems, and
      cloud technologies.
    </p>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {talks.map((talk) => (
        <TalkItem 
          link={talk.link}
          title={talk.title}
          event={talk.event}
          date={talk.date}
        />
      ))}
    </div>
  </div>
</section>
