---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = async () => {
    const blogs = await getCollection("blogs");
    const paths = blogs.map(blog => {
        return {
            params: {
                slug: blog.slug
            },
            props: {
                blog
            }
        }
    });

    return paths;
}

type Props = {
    blog: CollectionEntry<"blogs">
}

const {blog} = Astro.props;
const {Content} = await blog.render();
---

<Layout title={blog.data.title}>
    <section class="flex justify-center mt-12">
        <div id="markdown" class="prose prose-lg overflow-visible relative mb-5">
            <Content />
        </div>
    </section>

    <script>
        import { toggleMarkdownTheme } from "../../scripts/theme";

        const theme = localStorage.getItem("theme") || "dark";

        toggleMarkdownTheme(theme)
    </script>
    <script src="https://giscus.app/client.js"
            data-repo="prandogabriel/prandogabriel.dev"
            data-repo-id="R_kgDONzIuyw"
            data-category="General"
            data-category-id="DIC_kwDONzIuy84Cm8dN"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="dark" 
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</Layout>